@model EmployeeManagementSystem.ViewModels.EmployeeVm

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="form-group">

                <label asp-for="DepartmentId"></label>

                <select asp-for="DepartmentId"
                        class="form-control"
                        asp-items="ViewBag.DepartmentId">

                    <option value="">-- Select Department --</option>

                </select>

            </div>

            <div class="form-group">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Area"></label>
                <input asp-for="Area" class="form-control" />
            </div>

            <div class="form-group mt-2">
                <input type="submit"
                       value="Create"
                       class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
